.App{
  text-align: center;
}
.sidebar{
  height: 100%; 
  position: fixed;
  background-color: gold;
  width: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.selector{
  width: 80%;
  margin-top: 5px;
  transition: 0.3s;
}
.selector:hover{
  cursor: pointer;
  background-color: rgb(255, 225, 52);
  width: 100%;
}
.input{
  width: 100%;
  height: 6em;
  background-color: rgb(27, 27, 27);
  display: flex;
  align-items: center;
  justify-content: center;
}
.putin{
  height: 3em;
  border-style: none;
  background-color: grey;
  margin-left: 1em;
  color: rgb(255, 255, 255);
  position: relative;
  border-radius: 5px;
  padding-left: 1em;
  width: 20%;
  font-size: 1em;
}
.button{
  margin-left: 2em;
  height: 4em;
  width: 6em;
  border-style: none;
  background-color: rgb(208, 176, 0);
  border-radius: 2px;
  transition-duration: 0.2s;
}
.button:hover{
  cursor: pointer;
  background-color: gold;
}
.button2{
  background-color: rgb(15, 15, 15);
  border-style: none;
  height: 6em;
  border-radius: 4px;
  color: white;
  transition-duration: 0.3s;
  margin-top: 1em;
}
.button2:hover{
  cursor: pointer;
  background-color: rgb(41, 41, 41);
}
.App2{
  opacity: 0.2;
}
.maker{
  height: 60vh;
  width: 40vw;
  background-color: gold;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  opacity: 1;
  align-self:center;
  position: absolute;
  left: 30%;
  top: 20%;
}
.input2{
  width: 50%;
  border-style: none;
  border-radius: 4px;
  height: 3em;
  align-self: center;
  margin-top: 100px;
  padding-left: 8px;
  font-size: large;
}
.select{
  border-style: none;
  background-color: black;
  height: 3em;
  color: white;
  width: 51%;
  font-size: large;
  opacity: 1;
  align-self: center;
  padding-left: 8px;
  margin-top: 36px;
}
.button3{
  background-color: rgb(15, 15, 15);
  border-style: none;
  height: 6em;
  border-radius: 4px;
  color: white;
  transition-duration: 0.3s;
  width: 51%;
  margin-top: 36px;
  align-self: center;
}
.select:hover{
  cursor: pointer;
}
.incomeAndExpense{
  display: flex;
  background-color: grey;
  padding-left: 200px;
  justify-content: space-around;
  height: 8em;
}
.bruh{
  background-color: white;
  border-radius: 10px;
  width: 20em;
  align-self: center;
  height: 4em;
  padding-bottom: 1em;
}
.incomeAndExpense2{
  display: flex;
  background-color: rgb(255, 255, 255);
  padding-left: 200px;
  justify-content: space-around;
  height: 8em;
}
.pie{
  left: 28vw;
  position: relative;
  width: 1000px;
}